.row.testimoniales
    //p #{JSON.stringify(resultadoTestimoniales)}
    each testimoniales in resultadoTestimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body 
                    blockquote.blockquote
                    p.mb-0 
                    testimonios #{testimoniales.mensaje}
                    footer.blockquote-footer #{testimoniales.nombre}
